body{
  background-image: url(../../img/fundo.svg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
}

#modal-card {
  background-color: rgba(0, 0, 0, 0.75);
  box-shadow: rgb(0, 0, 0) 10px 10px 20px;
  color: white;
  border: none;
}

#modal-img{
  height: 300px;
}

.filme-item{
  transition: 0.3s;
}

.filme-item:hover{
  transform: scale(1.03);
}

#navbar{
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgb(0, 0, 0,1));
}


#text-footer{
  color: white;
}

#foot{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffc107c5;
  border-top: rgb(59, 58, 58) solid 8px;
  background-image: linear-gradient(to bottom, black, rgb(20, 20, 20)); 
}

.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;

}
.socials li{
  margin: 0 10px;
}
.socials a{
  text-decoration: none;
  color: #dfdfdf;
}
.socials a i{
  font-size: 1.1rem;
  transition: color .4s ease;

}
.socials a:hover i{
  color: rgb(165, 150, 20);
}



