<!DOCTYPE html>
<html lang="pt-br">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
   <link rel="stylesheet" href="./contato-style.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
   <title>Contatos</title>
</head>
<body>
    <nav id="navbar" class="navbar">
        <div class="container-xl">
          <a class="navbar-brand" href="#">
            <img src="../img/logo.png" width="120" height="35" alt="logo resiliaflix">
          </a>
          <ul class="navbar-nav">
            <li class="btn btn-warning">Login</li>
          </ul>
        </div>
      </nav>

      <main class="container">

      
        <div class="container d-flex flex-wrap justify-content-center">
           <div class="card mr-5">
              <div class="imagem">
                 <img src="../img/bruno-1-foto.png" alt="integrante1" class="img">
              </div>
              <div class="nome">
                 <h2>Bruno</h2>
              </div>
              <div class="links">
     
                 <a href="https://www.linkedin.com/in/bruno-andreotti-9384411b4/"><img class="gitIcon" src="https://img.icons8.com/glyph-neue/64/000000/linkedin.png"/></a>
                 <a href="https://github.com/brunoandreotti"><img class="gitIcon" src="https://img.icons8.com/ios-filled/50/000000/github.png"/></a>
              </div>
     
           </div>

           <div class="card mr-5">
             <div class="imagem">
                 <img src="../img/carme-2-foto.png" alt="integrante2" class="img">
              </div>
              <div class="nome">
                 <h2>Carme</h2>
              </div>
              <div class="links">
                 <a href="https://www.linkedin.com/mwlite/in/carme-fernandes-30997928"><img class="gitIcon" src="https://img.icons8.com/glyph-neue/64/000000/linkedin.png"/></a>
                 <a href="https://github.com/CarmeLeticia"><img class="gitIcon" src="https://img.icons8.com/ios-filled/50/000000/github.png"/></a>
              </div>
           </div>
           
     
           <div class="card mr-5">
             <div class="imagem">
                 <img src="../img/jonatas-3-foto.png" alt="integrante4" class="img">
              </div>
              <div class="nome">
                 <h2>Jonatas</h2>
              </div>
              <div class="links">
                 <a href="https://www.linkedin.com/in/jonatastalves/"><img class="gitIcon" src="https://img.icons8.com/glyph-neue/64/000000/linkedin.png"/></a>
                 <a href="https://github.com/jonatastalves"><img class="gitIcon" src="https://img.icons8.com/ios-filled/50/000000/github.png"/></a>
              </div>
           </div>

           <div class="card mr-5" id="card-karol">
              <div class="imagem">
                 <img src="../img/karolaine-foto.png" alt="integrante3" class="img">
              </div>
              <div class="nome">
                 <h2>Karolaine</h2>
              </div>
              <div class="links">
                 <a href=""><img class="gitIcon" src="https://img.icons8.com/glyph-neue/64/000000/linkedin.png"/></a>
                 <a href="https://github.com/kaarolfelix"><img class="gitIcon" src="https://img.icons8.com/ios-filled/50/000000/github.png"/></a>
              </div>
           </div>
     
           <div class="card mr-5">
             <div class="imagem">
                <img src="../img/laissa-4-foto.png" alt="integrante5" class="img">
              </div>
              <div class="nome">
                 <h2>Laíssa</h2>
              </div>
              <div class="links">
                 <a href="https://www.linkedin.com/in/la%C3%ADssa-fernandes-21209016b/"><img class="gitIcon" src="https://img.icons8.com/glyph-neue/64/000000/linkedin.png"/></a>
                 <a href="https://github.com/laissafernandes/"><img class="gitIcon" src="https://img.icons8.com/ios-filled/50/000000/github.png"/></a>
              </div>
           </div>
  
           

        </div>
    
     <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
     
  </main>

  <footer id='foot' class="footer py-3">
      <div class="container d-flex justify-content-center">
      <span class="text-light">ResiliaFlix - Todos os direitos reservados T10</span>
      </div>
      <br><p>Encontre-nos nas redes sociais</p>
      <ul class="socials">
         <li><a href="#"><i class="fa fa-facebook"></i></a></li>
         <li><a href="#"><i class="fa fa-instagram"></i></a></li>
         <li><a href="#"><i class="fa fa-youtube"></i></a></li>
         <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
      </ul>
   </footer>
    
</body>
</html>