body{
    
    height: 100%;
    background: url('../../img/fundo.svg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

#navbar{
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgb(0, 0, 0,1));
}
main{
    display: flex;
    margin-top: 80px;
    
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#conteudo{
    height: 100%;
}


#info{
    height: 100%;
}

#resultados{
    width: 15rem;
}

#foot{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffc107c5;
    border-top: rgb(59, 58, 58) solid 8px;
    background-image: linear-gradient(to bottom, black, rgb(20, 20, 20));
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;

}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #dfdfdf;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;

}
.socials a:hover i{
    color: rgb(165, 150, 20);
}


