@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;500;600;700;800&display=swap');


body {
  background-color: rgb(31, 31, 31);
  background-image: url(../img/back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  
  
}

form {
  background-color: rgba(0, 0, 0, 0.609);
    box-shadow: rgb(0, 0, 0) 10px 10px 20px;
}

#cadastroMedium{
  font-family: 'JetBrains Mono', monospace;;
  font-weight: 700;
  
  font-size: larger;
  color: #ffc107;
  
  font-size: larger; color: black
  
}

#form input {
  border: none;
  border-bottom: 2px solid #ffc107c5;
  border-radius: 0px;
  
  /* border-bottom: 1px solid #ffc107; */
  
  background-color: transparent;
  outline: none;
  color: #fcfcf8;
}

#navbar {
  
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgb(0, 0, 0,1));
}

#footer{
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0,1));
  
}

.card{
  margin: 2rem;
}
